<h4>New Post</h4>
<form method="POST" action="/posts">
  <label class="textfield" >
    <input id="title" name="title" type="text" required>
    <span class="textfield__label">Title</span>
  </label>
  <label class="textfield">
    <textarea id="body" name="body" required rows="10"></textarea>
    <span class="textfield__label">Body</span>
  </label>
  <button>Create post</button>
</form>